.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid var(--grey); */
  padding: 20px;
  z-index: 999;
  background: var(--c1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  /* transition:  5s ease-in-out; */
}

.modal::backdrop {
  background-color: rgba(44, 44, 44, 0.34);
}

.modal-before {
  content: "";
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--cO1);
}

.modal-header {
  display: flex;
  padding: 0 10px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(251, 251, 251);
}

.modal-close-button {
  background-color: transparent;
  border-radius: 6px;
  padding: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: var(--red);
  color: white;
}
