.addMeetingForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--grey);
  padding: 20px 50px;
  z-index: 999;
  background-color: rgba(187, 187, 209, 0.825);
  border-radius: 4px;
}

.addMeetingForm table {
  border-collapse: collapse;
}

.addMeetingForm table td {
  padding: 10px 20px;
}

.addMeetingForm table td input,
.addMeetingForm table td textarea,
.addMeetingForm table td button {
  width: 100%;
  height: 100%;
}
